footer{
    .socials{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
        width: 30vw;
        margin: 0 auto 2rem auto;

        @include breakpoint('md') {
            width: 20vw;
        }
        @include breakpoint('lg') {
            width: 15vw;
        }
        @include breakpoint('xl') {
            width: 10vw;
        }

        i{
            font-size: 2rem;

            @include breakpoint('md') {
                font-size: 2.5rem;
            }
        }

        ion-icon {
            font-size: 2rem;
            @include breakpoint('md') {
                font-size: 2.5rem;
            }
        }
    }
}

.music{
    footer{
        position: absolute;
        top: 96%;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }
}

.about{
    footer{
        padding-bottom: 3rem;

        @include breakpoint('lg') {
            padding: 3rem 0;
        }
    }
}