.logo{
    margin-top: 2rem;
    margin-bottom: 4rem;

    @include breakpoint('md') {
        margin-bottom: 0rem;
    }
    img{
        margin: 0 auto;
        width: 35%;
        display: block;

        @include breakpoint('md') {
            width: 20%;
        }
        @include breakpoint('lg') {
            width: 15%;
        }
        @include breakpoint('xl') {
            width: 10%;
        }
    }
}