.about{
    background-color: white;

    &__bg{
        background-image: url(../../media/aboutbg.jpg);
        background-size: contain;
    }

    &__main{
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        align-items: center;
        padding: 8rem 0 0 0;
        

        @include breakpoint('md') {
            padding: 12vw 0 0 0;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint('lg') {
            padding: 8vw 0 0 0;
        }
        @include breakpoint('xl') {
            padding: 6vw 0 0 0;
        }

        .about-graphic{
            margin: 3rem auto;
            width: 95%;
            opacity: 0;
            animation-name: fadeInUp;
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-delay: 1s;

            @include breakpoint('sm') {
                width: 90%;
            }
            @include breakpoint('md') {
                width: 80%;
            }
        }
    }
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
